//--------------------
// Structure
$site-width: 1280px;
$site-gutter: 32px;
$mobile-gutter: 20px;

//--------------------
// Media Queries
$tablet-width: 1024px;
$phone-width: 767px;
$header-width: 920px;

$desktop: "screen and (max-width: #{$site-width})";
$tablet: "screen and (max-width: #{$tablet-width})";
$phone: "screen and (max-width: #{$phone-width})";
$header: "screen and (max-width: #{$header-width})";

//For media mixins
$breakpoints: (
	xs: 576px,
	sm: $phone-width,
	md: 992px,
	lg: 1200px,
	xg: 1400px
);

//--------------------
// Other

//--------------------s
// Colors
$black: #272727;

//--------------------
// Fonts
$standard-family: "Poppins", sans-serif;
$alt-family: "Roboto", sans-serif;

// Social Colors Guys, Social Colors
$twitter: #00aced;
$facebook: #3b5998;
$linkedin: #007bb6;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5b9a68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #eb4823;
$yahoo: #7b0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;
$github: #703083;
$snapchat: #333333;

// Brand colors
$brand-dark-blue: #0043ad;
$brand-light-blue: #0a59d6;
$brand-orange: #f08b00;
$light-green: #46c36d;
$accent-blue: #61c1fd;
$accent-dark-blue: #3395d4;
$gray: #626262;
$gray-light: #b2b2b2;
