.content-section {
    position: relative;
}

.content-section--content {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.content-section--image,
.content-section--text {
    width: 48%;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.content-section--image {
    &:before {
        top: -8px;
        z-index: 2;
    }
    border-top: solid 6px $light-green;
}