.module-cta-consult {
	background-size: cover;
	padding: 94px 0;
	text-align: center;
	color: #fff;
	position: relative;
	border-top: 10px solid $light-green;
	&:after {
		background-color: $brand-dark-blue;
		opacity: 0.8;
		position: absolute;
		content: "";
		width: 100%;
		left: 0;
		top: 0;
		height: 100%;
		z-index: 1;
	}
	.container {
		position: relative;
		z-index: 2;
		.module-cta-consult__title {
			color: #fff;
		}
		.module-cta-consult__ctawrap {
			margin: 24px 0 0;
		}
		.btn.btn-outline-primary.has-icon {
			.play {
			}
			&:hover {
			}
			&:active {
			}
			&:focus {
			}
		}
	}
}
