.hero-home {
	background-size: cover;
	position: relative;
	border-bottom: 10px solid $light-green;
	z-index: 1;
	&:after {
		@include layer(2);
		background: rgba(0, 0, 0, 0.7);
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.7) 0%,
			rgba(158, 158, 158, 0) 62%,
			rgba(255, 255, 255, 0) 100%
		);
	}
	.container {
		position: relative;
		z-index: 3;
		.hero__wrapper {
			display: flex;
			align-content: center;
			.hero__content {
				width: 70%;
				margin-right: auto;
				padding: 32px 0;
				h1.hero__title {
					font-size: 4rem;
					color: #fff;
					font-weight: 700;
					line-height: 60px;
					margin-top: 64px;
				}
				h3 {
					color: #fff;
					font-weight: 400;
					font-size: 3rem;
					margin: 32px 0;
				}
				.hero__cta-wrap {
					margin: 48px 0;
				}
				.hero__logos {
					display: flex;
					flex-wrap: wrap;
					width: 70%;
					margin-top: 72px;
					justify-content: space-between;
					.hero_logo-single {
						img {
							width: auto;
							height: 90px;
						}
					}
				}
				@include respond-below(sm) {
					& {
						width: 100%;
						h1.hero__title {
							font-size: 3.5rem;
						}
						h3 {
							font-size: 2rem;
						}
						.btn {
							display: block;
						}
						.hero__logos {
							width: 100%;
							.hero_logo-single {
								img {
									height: 54px;
								}
							}
						}
					}
				}
				@include respond-between(sm, md) {
					& {
						.hero__logos {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
