.module-cardsblog {
	.module-cardsblog__title {
		margin-bottom: 56px;
	}
	.module-cardsblog__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.module-cardsblog__column {
			width: 32.5%;
		}
		@include respond-below(sm) {
			flex-direction: column;
			.module-cardsblog__column {
				width: 100%;
			}
		}
	}
}
