.module-team {
	.module-team__title {
		text-align: center;
		margin-bottom: 56px;
	}
	.module-team__cardwrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.module-team__card {
			width: 32%;
		}
		@include respond-below(sm) {
			.module-team__card {
				width: 100%;
			}
		}
	}
}
