.module-leadtext {
	margin-bottom: -48px;
	.module-leadtext__container {
		text-align: center;
		padding: 128px 0;
		.module-leadtext__title {
			font-size: 3.3rem;
			color: $gray;
			font-weight: 400;
			margin-bottom: 0;
			line-height: 50px;
		}
		@include respond-above(md) {
			padding-left: 6%;
			padding-right: 6%;
		}
	}
}
