.services-submenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    background-color: $brand-dark-blue;
    padding: 20px 0;
}

.services-submenu--service {
    font-size: 1.8rem;
    padding: 4px;
    width: 25%;
    text-align: center;
    border-right: solid 1px $accent-blue;
    line-height: 1.4!important;
    margin-bottom: 0!important;
    &:last-child {
        border-right: none;
    }
    a {
        color: #fff;
        &:hover {
            text-decoration: none;
            color: $accent-blue;
        }
    }
    @media screen and (max-width: 768px) {
        width: 50%;
        padding: 12px 4px;
        &:nth-child(even) {
            border-right: none;
        }
    }
}
