.module-pricing-cards {
	.module-pricing-cards__title {
		margin-bottom: 56px;
	}
	.module-pricing-cards__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.module-pricing-cards__column {
			width: 32.5%;
		}
		@include respond-below(sm) {
			flex-direction: column;
			.module-pricing-cards__column {
				width: 100%;
			}
		}
	}
}
