.module-packages {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		background-color: $brand-dark-blue;
		.module-packages__features,
		.module-packages__mainpackage {
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.module-packages__col-1 {
			width: 50%;
			.module-packages__mainpackage {
				min-height: 90vh;
				background-color: rgba(46, 78, 129, 1);
				&:after {
					@include layer(1);
					background: rgba($brand-dark-blue, 0.8);
				}
				.module-packages__mainpackage-content {
					position: relative;
					z-index: 2;
					padding: 30px;
					display: flex;
					flex-direction: column;
					align-items: center;
					h1 {
						text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
						font-size: 4.7rem;
						color: #fff;
					}
					.pricing {
						font-size: 4rem;
						color: $brand-orange;
						font-weight: 400;
					}
					p {
						font-weight: 700;
						color: #fff;
						font-size: 3.8rem;
					}
				}
			}
		}
		.module-packages__col-2 {
			width: 50%;
			display: flex;
			align-content: stretch;
			flex-wrap: wrap;
			.module-packages__features {
				width: 50%;
				min-height: 180px;
				&:nth-child(1),
				&:nth-child(4) {
					&:after {
						@include layer(1);
						background: rgba(51, 149, 212, 0.73);
					}
				}
				&:nth-child(2),
				&:nth-child(3) {
					&:after {
						@include layer(1);
						background: rgba(51, 149, 212, 0.37);
					}
				}
				@include respond-below(xs) {
					width: 100%;
				}
				.module-packages__features-content {
					padding: 2rem;
					position: relative;
					z-index: 2;
					display: flex;
					align-content: center;
					flex-wrap: wrap;
					height: 100%;
					h3 {
						text-transform: uppercase;
						text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
						margin: 0 auto;
						color: #fff;
					}
					p {
						margin-bottom: 0;
						color: #fff;
					}
				}
			}
		}
		@include respond-below(lg) {
			.module-packages__col-2,
			.module-packages__col-1 {
				width: 100%;
			}
		}
	}
	@include respond-below(xg) {
		.container {
			width: 100% !important;
			max-width: inherit !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}
