.services-grid-container {
    display: flex;
    background-color: $brand-dark-blue;
}

.services-grid-container--featured,
.services-grid-container--cells .services-grid-container--cell{
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.services-grid-container--featured {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 67, 173, 0.61);
    padding: 6rem 0;
}

.services-grid-container--cells {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    .services-grid-container--cell {
        color: #fff;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
        height: 50%;
        &:nth-child(1),
        &:nth-child(4) {
            background-color: rgba(51, 149, 212, 0.73);
        }
        &:nth-child(2),
        &:nth-child(3) {
            background-color: rgba(51, 149, 212, 0.44);
        }
    }
}