.btn {
	display: inline-block;
	vertical-align: top;
	padding: 14px 40px;
	min-width: 200px;
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	background-color: black;
	color: #ffffff;
	font-size: 2rem;
	line-height: 1.6;
	font-weight: 500;
	font-style: normal;
	border-radius: 0;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;

	&:hover,
	&:focus {
		background-color: white;
		color: #fff;
	}

	&.btn-primary {
		background: $brand-dark-blue;
		border: 3px solid $brand-light-blue;
		font-size: 2rem;
		&:hover {
			background: $brand-light-blue;
		}
	}

	&.btn-secondary {
		border: 2px solid #fff;
		background: $accent-dark-blue;
		&:hover {
			background: $brand-light-blue;
		}
	}

	&.btn-terciary {
		background: $brand-orange;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		text-transform: none;
		font-size: 2.5rem;
		padding: 14px 50px;
		&:hover {
			background: lighten($brand-orange, 5%);
		}
	}

	&.btn-outline-primary {
		border: 2px solid #fff;
		background: transparent;
		color: #fff;
		font-weight: 400;
		font-size: 2rem;
		padding: 12px 40px;
		line-height: 3rem;
		transition: all 0.3s ease;
		&:hover {
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		}
	}
	&.btn-outline-terciary {
		border: 2px solid $brand-orange;
		background: transparent;
		color: $brand-orange;
		font-weight: 400;
		font-size: 2rem;
		padding: 12px 40px;
		line-height: 3rem;
		transition: all 0.3s ease;
		&:hover {
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		}
	}
	&.btn-outline-secondary {
		border: 2px solid $brand-orange;
		background: transparent;
		color: $brand-orange;
		font-weight: 400;
		font-size: 2rem;
		padding: 12px 40px;
		line-height: 3rem;
		padding: 14px 50px;
		&:hover {
			background: $brand-orange;
			color: #fff;
		}
	}
	&.has-icon {
		i.play {
			position: relative;
			top: -1px;
			margin-right: 10px;
			display: inline-block;
			width: 32px;
			height: 23px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' fill='%23ffffff' height='32' viewBox='0 0 24 24'%3E%3Cpath d='M7 6L7 18 17 12z'/%3E%3C/svg%3E");
		}
	}
}
