.card {
	background: #fff;
	&.card-team {
		border-top: 5px solid $accent-blue;
		padding: 24px;
		box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.08);
		.card-user {
			display: flex;
			.card-avatar {
				margin-right: 12px;
				width: 70px;
				height: 70px;
				border-radius: 50%;
			}
			.card-username {
				width: 100%;
				hr {
					margin: 8px 0;
					border: none;
					height: 2px;
					background: $accent-blue;
				}
				h4 {
					margin: 0;
					font-size: 2rem;
					font-weight: 700;
					color: $brand-light-blue;
				}
				.card-userrol {
					font-size: 1.6rem;
					color: $gray;
				}
			}
		}
		.card-content {
			font-family: $alt-family;
			color: $gray;
			padding: 30px 0;
			font-size: 1.8rem;
		}
		.card-cta {
			text-align: right;
			.card-textlink {
				font-family: $alt-family;
				color: $accent-blue;
				font-size: 1.6rem;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: $brand-light-blue;
				}
			}
		}
	}
}

.card-blog {
	box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	border-top: 7px solid $light-green;
	padding: 20px;
	position: relative;
	transition: all 0.3s ease-in-out;
	margin-bottom: 42px;
	&:hover {
		transform: translateY(-3px);
		box-shadow: -5px 12px 35px 0 rgba(0, 0, 0, 0.15);
	}

	.card-image-wrap {
		width: 100%;
		overflow: hidden;
		.card-link {
			background: #f6f6f6;
			display: block;
			.card-image {
				display: block;
				width: 100%;
				max-width: 100%;
				transition: all 0.3s ease-in-out;
				height: 250px;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	.card-meta {
		color: #818181;
		font-weight: 400;
		margin: 0 0 20px;
		font-size: 1.6rem;
	}

	.card-content {
		padding-bottom: 30px;
		position: relative;
		.card-title {
			text-transform: none;
			font-size: 3rem;
			font-weight: 700;
			color: $black;
			margin: 15px 0;
			a {
				transition: all 0.3s ease;
				color: $black;
				&:hover {
					color: $gray;
				}
			}
		}
		p.card-paragraph {
			font-family: $alt-family;
			font-size: 2rem;
			color: $gray;
			font-weight: 300;
			line-height: 1.4;
			margin-bottom: 20px;
		}
	}
	.card-link-more {
		font-weight: 500;
		transition: all 0.3s ease;
		position: absolute;
		bottom: 20px;
		right: 20px;
		color: $brand-light-blue;
		svg {
			position: relative;
			top: 3px;
			circle {
				transition: all 0.3s ease;
			}
		}
		&:hover {
			color: lighten($light-green, 10);
			svg circle {
				stroke: $light-green;
			}
		}
	}
}

.card-pricing {
	box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	position: relative;
	transition: all 0.3s ease-in-out;
	margin-bottom: 42px;
	text-align: center;
	.card-pricing__pad {
		padding: 20px;
	}
	.card-pricing__value {
		font-size: 6rem;
		color: $brand-dark-blue;
		font-weight: 700;
	}
	.card-pricing__meta {
		font-size: 1.8rem;
		color: $accent-dark-blue;
		font-weight: 700;
		margin: 10px 0;
		a {
			margin-left: 10px;
			border-radius: 50%;
			color: $gray-light;
			border: 2px solid;
			display: inline-block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 1.3rem;
			text-align: center;
		}
	}

	.card-pricing__report {
		font-size: 3rem;
		background: $accent-dark-blue;
		padding: 5px 0;
		font-weight: 700;
		color: #fff;
	}

	.card-pricing__content {
		padding: 10px 0 20px;
		text-align-last: left;
		color: $brand-light-blue;
		font-size: 1.8rem;
		ul {
			li {
			}
		}
	}
	.card-pricing__cta {
		.btn {
			display: block;
		}
	}
}
