footer.footer {
	font-size: 1.4rem;
	color: #fff;
	.footer-bg {
		padding: 56px 0;
		position: relative;
		z-index: 0;
		background-size: cover;
		background-image: url("./images/footer-bg.jpg");
		&:after {
			@include layer(1);
			background: $brand-light-blue;
			opacity: 0.9;
			z-index: 1;
		}
		.container {
			position: relative;
			z-index: 2;
		}
	}
	.footer-columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.footer-columns__col {
			margin-bottom: 42px;
			flex-basis: 1;
			min-width: 200px;
			width: 20%;
			h4.footer-columns__title {
				margin: 0 0 40px;
				color: #fff;
				font-weight: 700;
				font-size: 2.5rem;
			}
			&.col-contact {
				width: 40%;
				.d-flex {
					.form-group {
						width: 48%;
					}
				}
			}
			@include respond-between(sm, md) {
				& {
					width: 100%;
					&.col-contact {
						width: 100%;
					}
				}
			}
		}
		@include respond-below(sm) {
			& {
				flex-direction: column;
				.footer-columns__col {
					width: 100%;
					&.col-contact {
						width: 100%;
						.d-flex {
							.form-group {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	ul {
		list-style: none;
		li {
			a {
				font-size: 2rem;
				color: #fff;
			}
		}
	}
	ul.contact-data {
		li {
			display: inline-block;
			margin-right: 5%;
			a {
				display: block;
				font-size: 1.4rem;
				span.circle {
					display: inline-block;
					width: 40px;
					height: 40px;
					line-height: 44px;
					text-align: center;
					border-radius: 50%;
					background: $accent-blue;
					img {
						width: 16px;
						height: 16px;
					}
				}
			}
			@include respond-below(sm) {
				& {
					margin-right: 20px;
				}
			}
			@include respond-below(xs) {
				& {
					margin-bottom: 20px;
					display: block;
				}
			}
		}
	}
	.footer-bottom {
		color: #fff;
		padding: 20px 0;
		font-size: 1.4rem;
		background: $brand-dark-blue;
		.social {
			a {
				margin-left: 15px;
				svg {
					transition: all 0.3s ease-in-out;
					fill: #61c1fd;
				}
				&:hover svg {
					fill: #fff;
				}
			}
		}
	}
}
