form {
	.form-group {
		margin-bottom: 20px;
	}
	.form-control {
		background: #f2f2f2;
		font-size: 1.8rem;
		width: 100%;
		box-sizing: border-box;
		padding: 12px 15px;
		border: solid 2px $accent-blue;
		&:focus {
			outline: 1px solid $accent-blue;
			box-shadow: inset 0 0 3px 0 rgba($brand-dark-blue, 0.6);
		}
	}
}
