.header {
    background-color: $brand-dark-blue;
}

.header--container {
    display: flex;
    justify-content: center;
}

.navbar {
    padding: 24px 0;
    width: 76%;
}

.logo-img {
    max-width: 180px;
}

.navbar--inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    display: flex;
    align-items: flex-end;
    li {
        padding: 0 16px;
        font-size: 1.6rem;
        a {
            color: #fff;
        }
    }
}

.header-cta {
    background: linear-gradient(90deg, rgba(0,204,255,1) 0%, rgba(20,86,210,1) 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all .6s ease;
    text-align: left;
    padding: 0 20px;
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    min-width: 292px;
    border-radius: 0;
    img {
        margin-bottom: -8px;
        max-width: 36px;
    }
    &:hover {
        background-size: 140%;
        color: #fff;
    }
}
.header-cta--cta-text,
.header-cta--subtitle {
    color: #fff;
}

.header-cta--cta-text {
    font-size: 18px;
}

.header-cta--subtitle {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-left: 6px;
    margin-top: 6px;
}