* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	font-size: 10px;
}

body {
	font-family: $standard-family;
	font-size: 1.6rem;
	line-height: 1.8;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

img {
	max-width: 100%;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;

	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.container {
	width: 100%;
	max-width: $site-width;
	padding-left: $site-gutter;
	padding-right: $site-gutter;
	margin: 0 auto;
	box-sizing: border-box;

	@media #{$phone} {
		padding-left: $mobile-gutter;
		padding-right: $mobile-gutter;
	}
}

.section-block {
	padding-top: 48px;
	padding-bottom: 48px;
	&.py-0 {
		padding-top: 0;
		padding-top: 0;
	}
	&.pt-0 {
		padding-top: 0;
	}
	&.pb-0 {
		padding-bottom: 0;
	}
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.my-1 {
	margin-top: 32px;
	margin-top: 32px;
}
.my-2 {
	margin-top: 48px;
	margin-top: 48px;
}
.my-3 {
	margin-top: 64px;
	margin-top: 64px;
}
.my-4 {
	margin-top: 80px;
	margin-top: 80px;
}
.my-5 {
	margin-top: 96px;
	margin-top: 96px;
}

.has-squares-left {
	&:before {
		position: absolute;
		width: 200px;
		height: 200px;
		left: 0;
		top: 0;
		background: url(images/square-left-alt.svg);
		z-index: -1;
		content: "";
	}
}

.has-squares-bg {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		width: 200px;
		height: 200px;
		background: url("./images/square-left.svg");
		z-index: -1;
	}
	&:after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 30%;
		width: 200px;
		height: 200px;
		background: url("./images/square-left.svg");
		z-index: -1;
	}
}

.ul-icon {
	display: inline-block;
}

.ul-icon {
	list-style: none;
}

.ul-icon > li {
	margin-bottom: 10px;
	position: relative;
	padding: 0.5rem 0 0;
	strong {
		font-weight: 700;
	}
}

.ul-icon > li:before {
	content: "";
	background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='asterisk' fill='%2346C36D' fill-rule='nonzero'%3E%3Cpath d='M19.8723636,7.09945455 L17.4481212,2.90060606 C17.1970303,2.46575758 16.6410909,2.31678788 16.206303,2.56787879 L13.3333333,4.22642424 L13.3333333,0.909090909 C13.3333333,0.407030303 12.926303,0 12.4242424,0 L7.57575758,0 C7.07369697,0 6.66666667,0.407030303 6.66666667,0.909090909 L6.66666667,4.22654545 L3.79375758,2.56781818 C3.5849697,2.44727273 3.33660606,2.41460606 3.10393939,2.4769697 C2.8710303,2.53939394 2.67248485,2.69175758 2.55193939,2.90054545 L0.12769697,7.09939394 C-0.123333333,7.53418182 0.0256363636,8.09018182 0.460424242,8.34121212 L3.33327273,10 L0.460424242,11.6586061 C0.251636364,11.7791515 0.0992727273,11.977697 0.0368484848,12.2105455 C-0.0255151515,12.4434545 0.00715151515,12.6916364 0.12769697,12.9004242 L2.55193939,17.0993939 C2.67248485,17.3081818 2.87109091,17.4605455 3.10393939,17.5229697 C3.33684848,17.5852727 3.5850303,17.5527273 3.79381818,17.4321212 L6.66666667,15.7735152 L6.66666667,19.0909091 C6.66666667,19.5929697 7.07369697,20 7.57575758,20 L12.4242424,20 C12.926303,20 13.3333333,19.5929697 13.3333333,19.0909091 L13.3333333,15.7735758 L16.2061818,17.4321818 C16.6409697,17.6832727 17.1969091,17.534303 17.448,17.0994545 L19.872303,12.9006061 C19.9928485,12.6918182 20.0255152,12.443697 19.9631515,12.2107879 C19.9007273,11.9778788 19.7483636,11.7793333 19.5395758,11.6587879 L16.6666667,10 L19.5395758,8.34127273 C19.9744242,8.09018182 20.1233939,7.53418182 19.8723636,7.09945455 Z' id='XMLID_4_'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: cover;
	background-position: center;
	padding: 0.1rem;
	position: absolute;
	top: 10px;
	width: 20px;
	height: 20px;
	left: 0;
}
