body {
	font-family: $alt-family;
	color: #626262;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 36px;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5 h5,
.h6,
h6 {
	font-family: $standard-family;
	color: $brand-dark-blue;
	font-weight: 600;
	margin: 4rem 0;
	line-height: 1.6;
	&.has-border-left {
		border-left: solid 3px $light-green;
		padding-left: 1.8rem;
	}
	&.is-white {
		color: #fff;
		text-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
	}
}

.mb-0 {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}

.title-dots-below {
	margin-top: 2.4rem;
	.title-dots-below--dot {
		background-color: #8acffb;
		width: 24px;
		height: 24px;
		padding-left: 24px;
		border-radius: 50%;
		margin-right: 24px;
	}
}

.align-center {
	text-align: center;
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4 {
		display: inline-block;
	}
}

.subtitle {
	color: $brand-light-blue;
	font-size: 2.5rem;
	padding-left: 1.8rem;
	border-left: solid 3px $light-green;
}

.h1,
h1 {
	font-size: 5rem;
}

.has-text-shadow {
	text-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

.h2,
h2 {
	font-size: 4rem;
}

.h3,
h3 {
	font-size: 2.4rem;
	color: $brand-light-blue;
}

.entry-content {
	font-size: 16px;
	line-height: 1.33;
	margin-top: 2.4rem;
	* {
		&:first-child {
			margin-top: 0;
		}
	}

	a {
		color: #0357ff;
		text-decoration: none;
		-webkit-tap-highlight-color: transparent;
		transition: color 0.2s ease;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		margin-bottom: 16px;
		line-height: 1.8;
		.featuredCTA & {
			margin-bottom: 4px;
		}
	}

	ul,
	ol {
		margin-bottom: 16px;
		padding-left: 32px;

		> li {
			margin-bottom: 8px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;

		> li {
			> ul {
				list-style-type: circle;
				margin-bottom: 0;
			}
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 32px 0 16px;
		color: $black;
		font-weight: 700;
	}

	h1 {
		font-size: 36px;
		font-weight: 900;

		@media #{$phone} {
			font-size: 28px;
		}

		.featuredCTA & {
			color: #597687;
		}
	}

	h2 {
		font-size: 40px;
		line-height: 1;
		font-weight: 900;
		font-family: $alt-family;

		@media #{$phone} {
			font-size: 34px;
		}

		.featuredCTA & {
			color: #597687;
		}
	}

	h3 {
		font-size: 24px;
		font-weight: 600;

		@media #{$phone} {
		}
	}

	strong,
	b {
		font-weight: 700;
	}

	em,
	i {
		font-style: italic;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.alignnone {
		margin: 16px 0;
	}

	p img.alignnone {
		margin-bottom: 0;
	}

	hr {
		border: 0;
		border-bottom: 1px solid rgba(73, 89, 102, 0.2);
		margin: 20px 0;
	}

	.table__container {
		position: relative;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		margin-bottom: 16px;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #d3d3d3;
	}

	th,
	td {
		padding: 16px;
		text-align: center;
		vertical-align: middle;

		@media #{$phone} {
			font-size: 16px;
		}

		em,
		i {
			font-weight: 400;
			font-size: 16px;

			@media #{$phone} {
				font-size: 14px;
			}
		}
	}

	th {
		font-weight: 600;
		background-color: #e8e8e8;

		&:first-child {
			text-align: left;
		}
	}

	td {
		background-color: #f1f1f1;
	}

	tbody {
		tr {
			&:nth-child(even) {
				td {
					background-color: #d6d6d6;
				}
			}
		}
	}
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #777777;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #777777;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: #777777;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: #777777;
}
