.d-flex {
	display: flex;
	flex-wrap: wrap;
}

.justify-content-between {
	justify-content: space-between;
}

.align-content-center {
	align-content: center;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
